<html>

<head>
    <script src="newuser.js"></script>

    <!-- <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        th,
        td {
            padding: 10px 20px;
            border: 1px solid #000;
        }
    </style> -->
</head>

<body>
    <h1>Create User</h1>
    <br />
    <br />

    <input id="usernameInput" placeholder="Username"></input>
    <br />
    <input id="passwordInput" placeholder="Password" />
    <br />
    <input id="EmailInput" placeholder="Email" />
    <br />
    <input id="userlevelInput" placeholder="User Level" inputmode="numeric" type="number"  />
    <br />
    <input id="followedadsInput" placeholder="Followed Ads" inputmode="numeric" type="number" />
    <br />
    <br />
    <button id="getUsersButton">Create User</button>
</body>

</html>